// .main {
//   background-color: blue;

//   .amin-heading {
//     font-size: 2em;
//   }
//   .main-paragraph {
//     font-size: 1.4em;
//   }
// }

// .main,
// footer {
//   h1,
//   p {
//     letter-spacing: 1px;
//   }
// }

// Parent Selector
// .main {
//   .container & {
//     background-color: lightblue;
//   }
//   .main-heading {
//     font-size: 2em;
//   }

//   &:hover {
//     background-color: salmon;
//   }
// }

// .main {
//   & &.-heading {
//     font-size: 2em;
//   }
//   & &-paragraph {
//     font-size: 1.4em;
//   }
// }
// footer {
//   & &-heading {
//     font-size: 2em;
//   }

//   & & paragraph {
//     font-size: 1.4em;
//   }
// }

// .main {
//   padding: 10px;
//   & &-heading {
//     font-size: 2em;
//   }
//   & &-paragraph {
//     font-size: 1.4em;
//   }
// }

// .footer {
//   padding: 10px;
//   & &-heading {
//     font-size: 2em;
//     text-align: center;
//   }
//   & &-paragraph {
//     font-size: 1.4em;
//   }
// }
// Parent Selector{
.main {
  .container & {
    background-color: lightblue;
  }
  .main-heading {
    font-size: 2em;
  }
  &:hover {
    background-color: salmon;
  }
}
